.backdrop {
    position:fixed;
    z-index: 50;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0 , .75)
}

.alert-box {
    position:fixed;
    z-index:100;
    width: 40vw;
    left: 30vw;
    top: 40vh;
    background-color: white;
    padding:16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0 , .26);
}

alert-box-actions {
    text-align:right;
}